.password-container {
    position: relative;
    width: 100%;
}
.eye {
    position: absolute;
    right: 18px;
    bottom: 28px;
    width: 17px;
    height: 17px;

    cursor: pointer;
}
.eye-with-label {
}

.password-container + .password-container {
    margin-left: 13px;
}